.birdSvg {
  width: 1600px;
  bottom: 80px;
  left: 50%;
  position: absolute;

  opacity: 0.2;
}

.birdSvg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: firstAnimation 3s linear forwards;
}

.birdSvg :global(.eye) {
  animation: firstAnimation 1s linear forwards;
  /* animation-delay: 1s; */
}

.birdSvg :global(.leg1) path {
  animation: firstAnimation 3s linear forwards;
  animation-delay: 1.5s;
}

.birdSvg :global(.leg2) {
  animation: firstAnimation 3s linear forwards;
  animation-delay: 1.6s;
}

@keyframes firstAnimation {
  to {
    stroke-dashoffset: 0;
  }
}
