.pagewrap {
  background: var(--clr-bg);
  height: 100vh;

  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";

  grid-template-columns: auto;
  grid-template-rows: var(--size-header) 1fr var(--size-footer);
  overflow: hidden;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: side;
  display: none;
}

.main {
  grid-area: main;
  overflow: auto;
  /* overflow-x: visible; */
  position: relative;
}

.footer {
  grid-area: footer;
}

.content {
  margin: 0 auto;
  max-width: 700px;
  min-height: 100%;
}

@media screen and (min-width: 792px) {
  .sidebar {
    display: block;
  }

  :global(.withsidebar).pagewrap {
    grid-template-areas:
      "header header"
      "side main"
      "footer footer";

    grid-template-columns: 260px auto;
  }
}
