.text-ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.items-center { display: flex; align-items: center; }
.items-space-between { display: flex; justify-content: space-between; }
.items-space-around { display: flex; justify-content: space-around; }

/* DISPLAY */
.d-b { display: block;}
.d-f { display: flex;}
.d-ib { display: inline-block;}
.d-i { display: inline;}
.d-g { display: grid;}

/* FLEX */
.g-0 { gap: 0; }
.g-xxs { gap: var(--size-xxs); }
.g-xs { gap: var(--size-xs); }
.g-sm { gap: var(--size-sm); }
.g-md { gap: var(--size-md); }
.g-lg { gap: var(--size-lg); }
.g-xl { gap: var(--size-xl); }
.g-xxl { gap: var(--size-xxl); }

/* PADDINGS */
.p-0 { padding: 0; }
.p-xxs { padding: var(--size-xxs); }
.p-xs { padding: var(--size-xs); }
.p-sm { padding: var(--size-sm); }
.p-md { padding: var(--size-md); }
.p-lg { padding: var(--size-lg); }
.p-xl { padding: var(--size-xl); }
.p-xxl { padding: var(--size-xxl); }

.px-0 { padding-left: 0; padding-right: 0 }
.px-xxs { padding-left: var(--size-xxs); padding-right: var(--size-xxs); }
.px-xs { padding-left: var(--size-xs); padding-right: var(--size-xs); }
.px-sm { padding-left: var(--size-sm); padding-right: var(--size-sm); }
.px-md { padding-left: var(--size-md); padding-right: var(--size-md); }
.px-lg { padding-left: var(--size-lg); padding-right: var(--size-lg); }
.px-xl { padding-left: var(--size-xl); padding-right: var(--size-xl); }
.px-xxl { padding-left: var(--size-xxl); padding-right: var(--size-xxl); }

.py-0 { padding-top: 0; padding-bottom: 0 }
.py-xxs { padding-top: var(--size-xxs); padding-bottom: var(--size-xxs); }
.py-xs { padding-top: var(--size-xs); padding-bottom: var(--size-xs); }
.py-sm { padding-top: var(--size-sm); padding-bottom: var(--size-sm); }
.py-md { padding-top: var(--size-md); padding-bottom: var(--size-md); }
.py-lg { padding-top: var(--size-lg); padding-bottom: var(--size-lg); }
.py-xl { padding-top: var(--size-xl); padding-bottom: var(--size-xl); }
.py-xxl { padding-top: var(--size-xxl); padding-bottom: var(--size-xxl); }

.pb-0 { padding-bottom: 0 }
.pb-xxs { padding-bottom: var(--size-xxs); }
.pb-xs { padding-bottom: var(--size-xs); }
.pb-sm { padding-bottom: var(--size-sm); }
.pb-md { padding-bottom: var(--size-md); }
.pb-lg { padding-bottom: var(--size-lg); }
.pb-xl { padding-bottom: var(--size-xl); }
.pb-xxl { padding-bottom: var(--size-xxl); }

.pt-0 { padding-top: 0 }
.pt-xxs { padding-top: var(--size-xxs); }
.pt-xs { padding-top: var(--size-xs); }
.pt-sm { padding-top: var(--size-sm); }
.pt-md { padding-top: var(--size-md); }
.pt-lg { padding-top: var(--size-lg); }
.pt-xl { padding-top: var(--size-xl); }
.pt-xxl { padding-top: var(--size-xxl); }

.pl-0 { padding-left: 0 }
.pl-xxs { padding-left: var(--size-xxs); }
.pl-xs { padding-left: var(--size-xs); }
.pl-sm { padding-left: var(--size-sm); }
.pl-md { padding-left: var(--size-md); }
.pl-lg { padding-left: var(--size-lg); }
.pl-xl { padding-left: var(--size-xl); }
.pl-xxl { padding-left: var(--size-xxl); }

.pr-0 { padding-right: 0 }
.pr-xxs { padding-right: var(--size-xxs); }
.pr-xs { padding-right: var(--size-xs); }
.pr-sm { padding-right: var(--size-sm); }
.pr-md { padding-right: var(--size-md); }
.pr-lg { padding-right: var(--size-lg); }
.pr-xl { padding-right: var(--size-xl); }
.pr-xxl { padding-right: var(--size-xxl); }


/* MARGINS */
.m-0 { margin: 0; }
.m-xxs { margin: var(--size-xxs); }
.m-xs { margin: var(--size-xs); }
.m-sm { margin: var(--size-sm); }
.m-md { margin: var(--size-md); }
.m-lg { margin: var(--size-lg); }
.m-xl { margin: var(--size-xl); }
.m-xxl { margin: var(--size-xxl); }

.mx-0 { margin-left: 0; margin-right: 0 }
.mx-xxs { margin-left: var(--size-xxs); margin-right: var(--size-xxs); }
.mx-xs { margin-left: var(--size-xs); margin-right: var(--size-xs); }
.mx-sm { margin-left: var(--size-sm); margin-right: var(--size-sm); }
.mx-md { margin-left: var(--size-md); margin-right: var(--size-md); }
.mx-lg { margin-left: var(--size-lg); margin-right: var(--size-lg); }
.mx-xl { margin-left: var(--size-xl); margin-right: var(--size-xl); }
.mx-xxl { margin-left: var(--size-xxl); margin-right: var(--size-xxl); }

.my-0 { margin-top: 0; margin-bottom: 0 }
.my-xxs { margin-top: var(--size-xxs); margin-bottom: var(--size-xxs); }
.my-xs { margin-top: var(--size-xs); margin-bottom: var(--size-xs); }
.my-sm { margin-top: var(--size-sm); margin-bottom: var(--size-sm); }
.my-md { margin-top: var(--size-md); margin-bottom: var(--size-md); }
.my-lg { margin-top: var(--size-lg); margin-bottom: var(--size-lg); }
.my-xl { margin-top: var(--size-xl); margin-bottom: var(--size-xl); }
.my-xxl { margin-top: var(--size-xxl); margin-bottom: var(--size-xxl); }

.mb-0 { margin-bottom: 0 }
.mb-xxs { margin-bottom: var(--size-xxs); }
.mb-xs { margin-bottom: var(--size-xs); }
.mb-sm { margin-bottom: var(--size-sm); }
.mb-md { margin-bottom: var(--size-md); }
.mb-lg { margin-bottom: var(--size-lg); }
.mb-xl { margin-bottom: var(--size-xl); }
.mb-xxl { margin-bottom: var(--size-xxl); }

.mt-0 { margin-top: 0 }
.mt-xxs { margin-top: var(--size-xxs); }
.mt-xs { margin-top: var(--size-xs); }
.mt-sm { margin-top: var(--size-sm); }
.mt-md { margin-top: var(--size-md); }
.mt-lg { margin-top: var(--size-lg); }
.mt-xl { margin-top: var(--size-xl); }
.mt-xxl { margin-top: var(--size-xxl); }

.ml-0 { margin-left: 0 }
.ml-xxs { margin-left: var(--size-xxs); }
.ml-xs { margin-left: var(--size-xs); }
.ml-sm { margin-left: var(--size-sm); }
.ml-md { margin-left: var(--size-md); }
.ml-lg { margin-left: var(--size-lg); }
.ml-xl { margin-left: var(--size-xl); }
.ml-xxl { margin-left: var(--size-xxl); }

.mr-0 { margin-right: 0 }
.mr-xxs { margin-right: var(--size-xxs); }
.mr-xs { margin-right: var(--size-xs); }
.mr-sm { margin-right: var(--size-sm); }
.mr-md { margin-right: var(--size-md); }
.mr-lg { margin-right: var(--size-lg); }
.mr-xl { margin-right: var(--size-xl); }
.mr-xxl { margin-right: var(--size-xxl); }