:root {
  --clr-mauve: #f3cbfeff;
  --clr-paradise-pink: #ffb3fb;
  --clr-rich-black: rgb(19, 47, 68);

  --clr-bg: var(--clr-mauve);
  --clr-text: var(--clr-rich-black);
  /* --clr-link: var(--clr-paradise-pink); */
  /* --clr-link: rgb(208, 120, 255); */
  --clr-link: #b5446e;

  --sz-xxs: 2px;
  --sz-xs: 4px;
  --sz-sm: 8px;
  --sz-md: 16px;
  --sz-lg: 24px;
  --sz-xl: 64px;
  --sz-xxl: 128px;

  --sz-header: 64px;
  --sz-footer: 48px;
  --sz-sidebar: 260px;

  --fz-xs: 8px;
  --fz-smr: 10px;
  --fz-sm: 14px;
  --fz-md: 20px;
  --fz-lg: 24px;
  --fz-lgr: 32px;
  --fz-xl: 48px;
  --fz-xxl: 64px;
}
