.header {
  padding: 10px 0 10px 10px;
  display: flex;
}

.left {
}

.main {
  flex-grow: 1;
  overflow: hidden;
}

.centerSlot {
  padding: 0 100px 0 10px;
  margin: 0 auto;
}

.burger {
  width: 30px;
  height: 40px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 10;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.burgerLine {
  display: block;
  height: 5px;
  background-color: var(--clr-text);
  width: 100%;
}

.nav {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--clr-bg);
  z-index: 5;
  padding: 30px;
}

.nav ul {
  list-style: none;
  /* font-family: "Oxygen", sans-serif; */
  padding: 0;
  margin: 0;
}

.nav li {
  display: block;
  margin-bottom: 20px;
}
.nav li a {
  font-size: var(--fz-xl);
  line-height: calc(var(--fz-xl) * 1.5);
  font-weight: 900;
  display: block;
}

:global(.js-menu-opened) .nav {
  display: block;
}

@media screen and (min-width: 792px) {
  .nav {
    text-align: left;
    padding: 30px;
  }
  .nav li a {
    font-size: var(--fz-xxl);
    line-height: calc(var(--fz-xxl) * 1.2);
  }

  :global(.layout--with-sidebar) .left {
    width: calc(var(--sz-sidebar) - 10px);
  }
}
