/* 
.artcontainer {
  display: flex;
  overflow-x: auto;
}

.artcontainer > a {
  margin-right: 15px;
  flex-shrink: 0;
  width: 25%;
}

.artcontainer::-webkit-scrollbar {
  display: none;
} */

.artcontainer {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.artcontainer > * {
  height: 200px;
}

.artcontainer img {
  height: 100%;
  object-fit: cover;
}
