.discription {
  display: inline;
}
.cvimg {
  border-radius: 50%;
}
.sidebar {
  padding: 20px;
  padding-bottom: 0px;
}

@media screen and (min-width: 792px) {
  .cvflex {
    display: flex;
  }
  .sidebar {
    flex: 1;
    padding: 20px;
  }
  .content {
    flex: 2;
  }
}
