.main:before,
.main:after {
  --width: 16px;
  content: "";
  position: fixed;
  display: block;
  height: 100%;
  width: var(--width);
  top: 0;
  z-index: 10;
  background: var(--background-color);
}

.main:before {
  left: 0;
}

.main:after {
  right: 0;
}

.mainDecorative {
  margin-right: calc(33% + 16px);
}

@media (min-width: 640px) {
  .main:before,
  .main:after {
    --width: 24px;
  }

  .mainDecorative {
    margin-right: calc(33% + 24px);
  }
}