.container {
  max-width: 700px;
}

.discription {
  line-height: 1.6;
}

.title {
  display: flex;
  line-height: 1.6;
  justify-content: space-around;
  max-width: 700px;
  align-items: center;
}

/* .arrowright {
  border: solid #f475ac;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrowleft {
  border: solid #f475ac;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
} */
