.nav {
  overflow: hidden;
  display: none;
  position: fixed;
  left: 16px;
  right: 16px;
  top: 64px;
  bottom: 48px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--clr-bg);
  z-index: 10;
  padding: 30px;
  border-radius: 0.75rem;
}

:global(.js-menu-opened) .nav {
  display: flex;
}

.nav a {
  font-size: 64px;
  font-weight: 900;
  display: block;
  line-height: 1;
  text-align: center;
  z-index: 10;
}

@media screen and (min-width: 792px) {
  .nav a {
    font-size: 96px;
  }
}
